:root {
  --dark-blue1: #060d1f;
  --dark-blue2: #262d40;
  --white1: white;
  --green1: #61e26a;
  --red1: #e56e6e;
  --yellow1: #d0e05a;
  --black1: black;

  --border-radius1: 15px;

  --card-height: 13rem;
  --card-width: 90%;
  --card-max-width: 25rem;
  --card-max-width-desktop: 27rem;
  --card-width-desktop: 100%;
  --card-height-desktop: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--dark-blue1);
}

body {
  height: 100svh;
  display: grid;
  grid-template-rows: 1fr 9fr;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@media (min-width: 800px) {
  body {
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 10fr;
  }
}
