---
import FileCard from "../components/FileCard.astro";
import Layout from "../layouts/Layout.astro";
import BrowseButton from "../components/BrowseButton.astro";
import LoadingBar from "../components/LoadingBar.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Header />
  <main class={"main"}>
    <div class="cardWrapper">
      <FileCard cardType={"download"} />
      <FileCard cardType={"upload"} />
    </div>
    <LoadingBar />
    <BrowseButton />
  </main>
</Layout>

<style>
  .main {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr 2fr;
    align-items: center;
  }
  .cardWrapper {
    display: grid;
    grid-gap: 2rem;
  }
</style>
