---
import FileCard from "../components/FileCard.astro";
import Layout from "../layouts/Layout.astro";
import BrowseButton from "../components/BrowseButton.astro";
import LoadingBar from "../components/LoadingBar.astro";
import Header from "../components/Header.astro";
import DragDropCard from "../components/DragDropCard.astro";
---

<Layout>
  <Header />
  <main class={"main"}>
    <div class="cardWrapper">
      <DragDropCard />

      <FileCard cardType={"upload"} />
      <FileCard cardType={"download"} />
    </div>
    <LoadingBar />
    <BrowseButton />
  </main>
  <section class="sideSection">side section</section>
</Layout>

<style>
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr 2fr;
    align-items: center;
    height: 100%;
  }
  .cardWrapper {
    display: grid;
    grid-gap: 2rem;
    border: 2px solid pink;
  }

  @media (min-width: 800px) {
    .main {
      grid-column: 2/3;
      grid-row: 2/3;

      grid-template-rows: none;
    }

    .cardWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      height: 100%;
      width: 100%;
      justify-self: center;
      padding: 1rem;

      justify-content: center;
      align-items: center;

      grid-column: 1/3;
      grid-row: 1/3;
    }

    .sideSection {
      grid-column: 1/2;
      grid-row: 1/3;
      background: lightblue;
    }
  }
</style>
