---

---

<div class="burgerBtn">
  <div class="burgerBtn__line burgerBtn__line1"></div>
  <div class="burgerBtn__line burgerBtn__line2"></div>
  <div class="burgerBtn__line burgerBtn__line3"></div>
</div>

<style>
  .burgerBtn {
    border: 1px solid white;
    align-self: center;
    justify-self: end;
    height: var(--icons-size);
    width: var(--icons-size);
    background: white;
    display: grid;
    border-radius: 4px;
    padding: 3px 0;
  }

  .burgerBtn__line {
    background: black;
    height: 5px;
    width: 80%;
    margin: auto;
    border-radius: 100px;
  }
</style>
