---
type Data = [] | null;

const data: Data = [];
---

<div class={"card"}></div>

<style>
  .card {
    background: var(--dark-blue2);
    border-radius: var(--border-radius1);
    height: 1rem;
    width: 90%;
    height: 80%;
    justify-self: center;
  }
</style>
