---

---

<header>
  <div class="profileIcon"></div>
  <h1>Share Files & Folders</h1>
  <div class="burgerBtn">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>

<style>
  header {
    color: white;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    justify-content: space-between;
    padding: 0 10%;
  }

  h1 {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profileIcon {
    border: 2px solid white;
    height: 1.4rem;
    width: 1.4rem;
    align-self: center;
    border-radius: 100%;
    background-color: white;
  }
  .burgerBtn {
    border: 1px solid white;
    align-self: center;
    justify-self: end;
    height: 1.4rem;
    width: 1.4rem;
    background: white;
  }
</style>
