<div>
  <div class={"loading-bar"}>
    <span class="innerBar"></span>
  </div>
</div>

<style>
  .loading-bar {
    background: white;
    border-radius: var(--border-radius1);
    height: 1rem;
    width: 77%;
    justify-self: center;
    display: flex;
    justify-content: start;
  }
  .innerBar {
    background: var(--yellow1);
    height: 100%;
    width: 30%;
    border-radius: var(--border-radius1);
  }
</style>
