<div>
  <div class={"loading-bar"}></div>
</div>

<style>
  .loading-bar {
    background: white;
    border-radius: var(--border-radius1);
    height: 1rem;
    width: 90%;
    justify-self: center;
  }
</style>
